---
import Base from "../../layouts/Base.astro";
import { getDict, type Locale } from "../../i18n/config";
import LanguageSwitcher from "../../components/LanguageSwitcher.astro";

const { lang } = Astro.params as { lang: Locale };
const t = getDict(lang);

import HeroCarousel from "../../components/HeroCarousel.astro";

import MapaTuristico from "../../components/MapaTuristico.astro";
const imgs = [
  {
    src: "https://l.icdbcdn.com/oh/c1fa0d9b-6f22-44c1-b258-01338738eac5.jpg?w=2080",
    alt: "Living con estufa",
  },
  {
    src: "https://l.icdbcdn.com/oh/c1fa0d9b-6f22-44c1-b258-01338738eac5.jpg?w=2080",
    alt: "Living con estufa",
  },
];

import E_01 from "../../../public/images/E_01.jpg";
import E_02 from "../../../public/images/E_02.jpg";
import E_03 from "../../../public/images/E_03.jpg";

import I_01 from "../../../public/images/I_01.jpg";
import I_02 from "../../../public/images/I_02.jpg";
import I_03 from "../../../public/images/I_03.jpg";

import P_01 from "../../../public/images/P_01.jpg";
import P_02 from "../../../public/images/P_02.jpg";
import P_03 from "../../../public/images/P_03.jpg";

import Pl_01 from "../../../public/images/Pl_01.jpg";
import Pl_02 from "../../../public/images/Pl_02.jpg";
import Pl_03 from "../../../public/images/Pl_03.jpg";

//@ts-ignore
import CarouselGallery from "../../components/CarouselGallery.astro";
import type { ImageItem, GalleryData } from "../../types/gallery"; // si separaste los tipos

import logo from "../../../public/Logo-03.png";

const Interiores: ImageItem[] = [
  {
    imagen: I_01.src,
    categoria: "Interiores",
    caption: "1",
    capacity: 6,
    model: "Familiar",
  },
  {
    imagen: I_02.src,
    categoria: "Interiores",
    caption: "2",
    capacity: 3,
    model: "Confort",
  },
  {
    imagen: I_03.src,
    categoria: "Interiores",
    caption: "3",
    capacity: 3,
    model: "Confort",
  },
];

const Exteriores: ImageItem[] = [
  {
    imagen: E_01.src,
    categoria: "Exteriores",
    caption: "2",
    capacity: 3,
    model: "Confort",
  },
  {
    imagen: E_02.src,
    categoria: "Exteriores",
    caption: "1",
    capacity: 6,
    model: "Familiar",
  },
  {
    imagen: E_03.src,
    categoria: "Exteriores",
    caption: "3",
    capacity: 3,
    model: "Confort",
  },
];

const Parque: ImageItem[] = [
  {
    imagen: P_01.src,
    categoria: "Parque",
    caption: "",
  },
  {
    imagen: P_02.src,
    categoria: "Parque",
    caption: "",
  },
  {
    imagen: P_03.src,
    categoria: "Parque",
    caption: "1",
  },
];

const Pileta: ImageItem[] = [
  {
    imagen: Pl_01.src,
    categoria: "Parque",
    caption: "",
  },
  {
    imagen: Pl_02.src,
    categoria: "Parque",
    caption: "",
  },
  {
    imagen: Pl_03.src,
    categoria: "Parque",
    caption: "",
  },
];

const data: Partial<GalleryData> = { Interiores, Exteriores, Parque, Pileta };

import ReservaCabanas from "../../components/ReservaCabanas.astro";

const reservas = {
  "1": [
    "2025-09-04",
    "2025-09-05",
    "2025-09-12",
    "2025-09-14",
    "2025-09-15",
    "2025-09-18",
    "2025-09-29",
    "2025-10-02",
    "2025-10-06",
    "2025-10-25",
    "2025-11-09",
    "2025-11-15",
    "2025-11-26",
    "2025-12-04",
    "2025-12-18",
  ],
  "2": [
    "2025-09-06",
    "2025-09-09",
    "2025-09-21",
    "2025-10-07",
    "2025-10-08",
    "2025-10-12",
    "2025-10-22",
    "2025-11-01",
    "2025-11-08",
    "2025-11-14",
    "2025-11-19",
    "2025-12-05",
    "2025-12-19",
    "2025-12-22",
    "2025-12-30",
  ],
  "3": [
    "2025-09-02",
    "2025-09-10",
    "2025-09-19",
    "2025-09-22",
    "2025-09-24",
    "2025-10-06",
    "2025-10-14",
    "2025-10-24",
    "2025-10-25",
    "2025-10-28",
    "2025-11-09",
    "2025-11-15",
    "2025-11-29",
    "2025-12-07",
    "2025-12-13",
    "2025-12-21",
  ],
};

const cabs = [{ id: "1" }, { id: "2" }, { id: "3" }];
---

<Base lang={lang} title={t.header.title}>
  <main class="container mx-auto p-6">
    <HeroCarousel youtubeUrl="https://youtu.be/l8QO0xbI9Jk" />

    <section class="mt-12 px-4 mb-12 pb-12">
      <div class="max-w-3xl mx-auto text-center">
        <h3
          class="text-2xl font-semibold uppercase tracking-widest text-stone-500 mx-[auto] mb-4"
        >
          Bienvenido a
        </h3>

        <!-- <h1 class="mt-2 text-4xl md:text-6xl font-semibold text-stone-900">
          Finca Casiana
        </h1> -->

        <img class="w-[25rem] mx-[auto]" src={logo.src} alt="logo finca Casiana">

        <div
          class="mt-14 space-y-4 text-base md:text-xl leading-relaxed text-stone-600"
        >
          <p>
            Somos una finca familiar ubicada en el portal de acceso este a la
            ciudad de San Juan. Un espacio pensado para el descanso, la conexión
            con la naturaleza y la creación de momentos inolvidables.
          </p>
          <p>
            Nuestro entorno natural, la atención personalizada y las
            instalaciones equipadas hacen de Finca Casiana el lugar ideal para
            familias, parejas y grupos que buscan desconectarse del ruido y
            reconectar con lo esencial.
          </p>
          <p>
            Buscamos brindar un espacio de encuentro con la naturaleza donde
            cada visitante pueda disfrutar de una experiencia auténtica, segura
            y confortable. Nos enfocamos en el turismo slow, la hospitalidad y
            el cuidado por cada detalle.
          </p>
        </div>

        <div class="mt-10">
          <h3 class="text-4xl font-semibold text-stone-900">Visión</h3>
          <div
            class="mx-auto mt-2 h-1 w-16 rounded-full"
            style="background:#C76B4E;"
          >
          </div>
          <p class="mt-8 text-base md:text-xl leading-relaxed text-stone-600">
            Posicionarnos como un destino destacado en San Juan para quienes
            buscan tranquilidad, naturaleza y calidad en el servicio. Aspiramos
            a ser una referencia en turismo rural y eventos especiales en la
            región.
          </p>
        </div>
      </div>
      <div class="mt-[8em]">
        <MapaTuristico
          fijo={{ lat: -31.555666223254082, lng: -68.48057388609342 }}
        />
      </div>
      <div class="mt-10 grid gap-4 md:grid-cols-3 items-start md:items-center ">
          <p class="md:col-span-2 text-stone-700 text-lg md:text-end md:pr-16">
            Consultá la disponibilidad en tiempo real y reservá en simples
            pasos.
          </p>
          <a
            href="/es/reservas"
            class="inline-flex items-center justify-center rounded-xl px-5 py-3 font-semibold text-white w-80"
            style="background:#C76B4E"
          >
            Ver disponibilidad
          </a>
        </div>
    </section>
  </main>
</Base>
